{{ rails_env }}:
  adapter: postgresql
  encoding: utf8
  database: {{ first_db_name }}
  host: localhost
  username: {{ user }}
  password: {{ postgresql_password }}
  timeout: 8000
  port: 5432
  pool: 5
  queue:
    adapter: postgresql
    encoding: utf8
    database: {{ second_db_name }}
    host: localhost
    username: {{ user }}
    password: {{ postgresql_password }}
    timeout: 8000
    port: 5432
    pool: 5