default: &default
  adapter: postgresql
  host: localhost
  encoding: utf8
  timeout: 5000
  username: {{ user }}
  password: {{ postgresql_password }}
  port: 5432
  pool: 5

{{ rails_env }}:
  <<: *default
  database: {{ first_db_name }}
  queue:
    <<: *default
    database: {{ second_db_name }}