{{ rails_env }}:
  address: {{ emailserverhostname }}
  port: {{ emailserverport }}
  user_name: {{ emailuserusername }}
  password: {{ emailuserpassword }}
  authentication: {{ emailserverauthentication }}
  domain: {{ emailserverdomain_name }}
  outgoing_address: {{ emailuseraddress }}
  default_name: {{ emailusername }}