{{ rails_env }}:
  address: "smtp.mandrillapp.com"
  port: "587"
  user_name: "{{ emailuserusername }}"
  password: "{{ emailuserpassword }}"
  authentication: "plain"
  domain: "{{ domain }}"
  outgoing_address: "{{ emailuserusername }}"
  default_name: "Canvas Test"