-----BEGIN CERTIFICATE-----
MIIDBjCCAe4CCQDJ5Vk6vKsbMDANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJD
SDETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE1MDcyNzAzNDY0MloXDTE2MDcyNjAzNDY0MlowRTELMAkG
A1UEBhMCQ0gxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AMvG89j8gvngxNtYQ1wPEmNCNVzXsJsZCaO1IW4PHvOScNH5r8o2MxF2iCQDjJR8
KQbS0TQ8cbvfflAnJetn+EodQwdrHYlecoGS5vGwPy9YBqx95y9I+zUo1GzyIFVh
fVaRzXNaI6GmV623sVvq6N1DRexLqJ4J7Wbd1wdmpTFX0SmBngTX7D+VzIWgVr6d
kUYh4hHa30F0kfrQGBIDuagh+GUkneVqAlmp65v14B6BFJp0Zt8zNgWgQij8X+Vd
dgte62BBO9AzTwoeQ5kJ+jFWoBeSNTD2GLNgipjti5CtW6d3OrdmY8wdGehrI4jy
fwwsS7cQnKvygag4C0wR2LUCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEABZS91zAg
9v/RunqnxJHDt63y/1VLjZ3fmvKUrv8mESxuXdKozEClNYFhZET8Q0deRTnRkQuC
IPY4Sx7/ENVMHpjEVMD0ZCi8HtlGNgjWpgolI1LeXaiNVDARB6bjyqXJygDtIysS
0eF2woEY/LiDmIzOYT4TY/3p74dvNIw8C4Xy8oE+dT6wvNwknyqZRjCZ2byAqq+y
6Fhk9zONv8MvIqSLWrvGdVx5PBJkPUU60SErce00NdawLwPWBNWvrgLSjvWVtUSQ
6aBzc6c7+DnmqDzllioVAJ/jFG1bxQ721lhhDyzYUJ17/JUn2EmXNeBE6U9YKDBM
/ke/W8ulfAdPTw==
-----END CERTIFICATE-----