[options]
; This is the password that allows database operations:
; admin_passwd = admin
db_host = False
db_port = False
db_user = odoo
db_password = {{ postgresql_password }}
addons_path = /usr/lib/python2.7/dist-packages/openerp/addons,/home/{{ user }}/odoo/module_openerp_{{ rails_env }}/current